@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

/* Aller Font Faces */
@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aller Display';
  src: url('/fonts/AllerDisplay.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}